todolist.txt
CLAUDE.md
docs/
.vscode/
.vscode/*
.vscode/settings.json
*.json
*.db
*.db.json
*.msh
*.pre
*.res
*.step
*.brep
gmsh/
res/
__pycache__
.idea/*
generated_common.pro
generated_geometry.geo
map.csv
*.pdf
